.card {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cardStudentName {
  text-align: start;
}
.cardText {
  text-align: start;
}
.cardLink {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 15px;
  font-size: small;
}
