.toolbarContainer {
  display: flex !important;
  flex-direction: column;
  background-color: #008ba3;
  color: #000;
  padding-left: 15px !important;
  align-items: flex-start !important;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-top: 15px;
    &__name {
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      margin-left: 10px;
    }
  }
  .year {
    font-size: 14px;
    font-style: italic;
    height: 100%;
  }
}
.sidebarList {
  &__listIcon {
    margin-left: 20px;
  }
}
.sigaButton {
  background-color: #62eeff !important;
  color: #000 !important;
}

.listItem {
  padding-left: 15px;
}

.avatar {
  background-color: #62eeff !important;
}
