.students {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  background-color: #eeeded;

  &__title {
    text-transform: uppercase;
  }
  &__searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__studentsCard {
    display: flex;
    flex-wrap: wrap;
  }
}
