.mainTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 20vh;
  width: 79.8%;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  &__userImage {
    width: 100px;
    height: 70px;
    position: fixed;
    left: 20vw;
    margin-left: 20px;
  }
  &__mainTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    color: rgba(62, 141, 165, 0.671);
    position: fixed;
    right: 20px;
  }
}
